* {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 95vh;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 60vh;
  list-style: none;
  padding-left: 0;
}
